*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
   list-style: none;
   text-decoration: none;
}
body{
display: flex;
justify-content: flex-end;
min-height: 100vh;
flex-direction: column;
}
:root{
--text-color: #000;
--main-color:#83b735;
}
.shadow {
-moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;
}

nav{
width: 100%;
height: 80px;
background-color: #fff;
line-height: 80px;
}
nav ul{
float: right;
margin-right: 30px;
}
nav ul li{
list-style-type: none;
display: inline-block;
transition: 0.8 all;
}
nav ul li:hover{
background-color: #07a053;
}
nav ul li a{
text-decoration: none;
color: #000;
padding: 30px;
}
.row{
background:white;
border-radius:30px;
box-shadow:12px 12px 22px black;
}
img{
border-top-left-radius:30px;
border-bottom-left-radius:30px;
}
.btn1{
border:none;
outline:none;
height:50px;
width:100%;
background-color:black;
color:white;
border-radius:4px;
font-weight:bold;
}
.btn1:hover{
background-color:white;
border:1px solid;
color:black;
}
.container{
max-width: 1170px;
background-color: #000;
margin: auto;
}
.row1{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
position: relative;
width: 100%;
height: auto;
background-color:#111;
padding: 50px;
}
footer .container{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}
footer .container .sec.about{
width: 40%;
}
footer .container h2{
font-size: 18px;
color: #ffffff;
margin-bottom: 15px;
font-weight: 500;
position: relative;
}
footer .container  h2:before{
content: "";
position: absolute;
left: 0;
bottom: -5px;
background: #e91e63;
height: 2px;
width: 50px;
}
.footer p{
color: #999;
}
.sci{
margin-top: 20px;
display: flex;
}
.sci li{
list-style: none;
}
.sci li a{
display: inline-block;
width: 40px;
height: 40px;
background: #222;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
text-decoration: none;
border-radius: 4px;
}
.sci li a:hover{
background: #f00;
}
.sci li a .fa{
color: #fff;
font-size: 20px;
}
.quicklinks{
position: relative;
width: 25%;
}
.quicklinks ul li{
list-style: none;
}
.quicklinks ul li a{
color: #999;
text-decoration: none;
margin-bottom: 10px;
display: inline-block;
}
.quicklinks ul li a:hover{
color: white;
}
.contact{
width: calc(35% - 60px);
margin-right: 0 !important;
}
.contact .info{
position: relative;
}
.contact .info li{
display: flex;
margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
color: white;
font-size: 20px;
margin-right: 10px;
}
.contact .info li span
{
color: #999;
}
.contact .info li a
{
color: #999;
text-decoration: none
}
.contact .info li a:hover
{
color: white;
}
.outer-footer{
width: 100%;
background: #181818;
padding: 8px 100px;
text-align: center;
color: #999;
}